form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

input,
select {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 15px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #1976d2;
    background-color: white;
}